*,
*:before,
*:after{
    padding: 0;
    margin: 50;
    box-sizing: border-box;
}
body{
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        135deg,
        #ecb61f,
        #8054b9
    );
}
.classBox{
    display: flex;
}
.classBox .scorePlayer{
    width: 300px;
    margin: 20px 50px;
}
.classBox .scoreBot{
    width: 300px;
    margin: 20px 50px;
}
.scorePlayer .info{
    background: rgb(194, 62, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.scoreBot .info{
    background: rgb(194, 62, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.info span , .info h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: sans-serif;
    color: rgb(3, 3, 3);
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    background : rgb(6, 193, 250);
    height: 220px;
}
.show i{
    font-size: 100px;
    color: rgb(255, 254, 253);
}
.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100px;
}
.selection button{
    margin: 0 20px;
    padding: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background : rgb(6, 193, 250);
    font-size: 33px;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgb(14, 13, 13), 0 6px 20px 0 rgb(14, 13, 13);
}