h1{color: green;}

p {
    font-size: big;
    font-family: sans-serif;
}

section {
    height: auto;
    width: auto;
    background-color: lightgreen;
    border: 10px solid cornflowerblue;
    padding: 20px;
    font-size: small;
    font-family: monospace;
    display: grid;
    grid-template-columns: auto;
}


* {
    color: blueviolet;
    
}

section >div> p {
    background-color: aquamarine;
   background: lightblue;
   padding: 16px;
   border: 4px solid black;
   gap: 8px;
   margin-right: 5px;
}

body{
    font-family: sans-serif;
    
}

@media screen and (min-width: 480px) {
    .tentang{
        display: flex;
    }
}