@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap'); 

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
  outline: none;
}

h1,h2{
    margin-bottom: 20px;
    font-size: 1.5em;
}

body{
    background-color: rgba(225, 0, 255, 0.801);
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    max-width: 600px; 
    margin: 0 auto;
}

.box{
    padding: 30px;
    display: flex;
    background: #fff;
    box-shadow: 0 8.9098px 36.6557px rgb(67 67 67 / 6%);
    border-radius: 10.9822px;
    flex-direction: column;
    width: 100%;
    position: relative;
}

#form input {
    padding: 12px;
    border: none;
    background-color: #F6F6F5;
    margin-bottom: 20px;
    border-radius: 6px;
    min-width: 250px;
}

.btn {
    background: linear-gradient(to right, rgba(225, 0, 255, 0.801), rgba(225, 0, 255, 0.801));
    background-color: rgba(225, 0, 255, 0.801);
    border: none;
    color: #ffffff;
    padding: 6px 21px;
    display: inline-block;
    border-radius: 4px;
    font-size: 13.5px;
    text-decoration: none;
    margin-top: 8px;
    letter-spacing: 0.04px;
    text-transform: uppercase;
    cursor: pointer;
    min-height: 40px;
}
.btn:hover {
    background-color: rgba(225, 0, 255, 0.801);
    background: linear-gradient(to right, rgba(225, 0, 255, 0.801), rgba(225, 0, 255, 0.801));
    color: #ffffff;
}

.result.box{
    padding: 0px;
    margin-top: 20px;
}
.full-lyrics,
.result ul{
    padding: 20px;
}
.result ul.song-list li {
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px dashed rgb(3, 3, 3);
    padding-bottom: 15px;
}
.result ul.song-list li img {
    max-width: 120px;
    float: left;
    margin-right: 15px;
    border-radius: 4px;
}
.result ul.song-list li span{
    background-color: #ddd;
    border-color: #ddd;
    color: #222;
    padding: 6px 21px;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    text-decoration: none;
    margin-top: 5px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

}
